# .gitignore
__pycache__
*/__pycache__/*
python-virtual-environments
venv
temp/*
*/temp/*
/src
.DS_Store

# distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
